.Container-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* margin-left: 10px; */
}

.info-box {
  margin: 15px 0px;
  position: sticky;
  top:7.5rem;
  background: white;
}

.info-box > button {
  color: rgb(28, 28, 28);
  font-size: 1rem;
  background-color:  #f9f9f9;
  margin-right: 10px;
  padding: 8px 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.header-section {
  border-bottom: 2px solid rgb(202, 187, 187);
  position: sticky;
  z-index:5000;
  background: white;
  top:10rem;
}

.main-buttons {
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  width: 60%;
  border: none;
}

.main-buttons > button {
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: #696969;
  white-space: nowrap;
  margin-right: 15px;
  padding:0.5rem 0rem;
  cursor: pointer;
  border-radius: 0px;
}

.main-buttons > .active {
  color: rgb(16, 4, 4);
  border-bottom: 2px solid rgb(128, 2, 2);
}

.content-section {
  position: relative;
}
