.Owner-Hotels-Div
{
    color: rgb(229, 134, 26);
    background-color: white;
    width: 90vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    /* border-radius: 12px; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    min-height: 10vh;
    /* max-width: 95%; */
    padding: 2rem;
}
.Owner-Hotel-error
{
    color: rgb(34, 33, 33);
    width:20vw;
    text-align: center;
    max-width: 95%;
    margin: 1rem auto;
}
.Hotel-EmptyList
{
    font-size: 1.3rem;
}