.Notification{
    width:4rem;
    display: flex;
    flex-direction: row;
    border:none;
    /* background-color: white; */
    background: none;
    justify-content: center;
    column-gap: 0.3rem;
    align-items: center;
    height:3rem;
}
.Notification-DropDown{
    display:flex;
    flex-direction: column;
    overflow-wrap: break-word;
    row-gap:0.2rem;
   
}
.Notify-DropDown{
    position: absolute;
    top:3.5rem;
    z-index:300;
    /* left:2rem; */
    max-width:15.5rem;
    min-width:8rem;
    width:fit-content;

    display: flex;
    overflow-wrap: break-word;
    flex-direction: column;
    box-shadow: rgba(28, 28, 28, 0.15) 0px 2px 8px;
    background-color: white;
    border-radius: 12px;
}
.Notification-DropDown::-webkit-scrollbar{
    width:0;
}
.Notification-Message{
    color:black;
    /* width:100%; */
    font-size:1rem;
   
    /* word-wrap: break-word;  */
    font-weight: 400;
    font-style: none;
    text-decoration: none;
    white-space: normal;
    overflow-wrap: break-word;
    
    border-bottom: 1px solid rgb(196, 194, 194);
}
.DropDown-Elements{
    padding: 0.3rem;
    margin:0.2rem;
    z-index:1000;
    color:black;
    position: relative;
}
.DropDown-Elements:hover{
    background:#7e8eaccc;
    border-radius:12px
}
/* .DivideLine{
    width:1px;
    border-solid
} */