.Order-List-Container {
  margin: auto;
  margin-top: 2rem;
  /* width:70%; */
  max-width: 50rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-spacing: 0px;
  border-radius: 10px;
  overflow: hidden;
  /* background-color: grey; */
  /* column-gap: 1.5rem; */
}
tr {
  padding: 0.3rem;
  /* background-color: grey; */
  border-spacing: 10px;
}
tr:nth-child(even) {
  background-color: white;
}
tr:nth-child(odd) {
  background-color: rgb(189, 189, 189);
}
.Order-Header-Container {
  background-color: rgb(40, 15, 49);
}
.Order-Header-Item {
  text-align: left;

  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  padding-left: 0.3rem;
  background-color: rgb(40, 15, 49);
  color: rgb(175, 174, 172);
}
td {
  padding: 0.5rem 0.3rem;
  font-size: 1.3rem;
}
