.Hotel-Mapper-Div{
    width: 80vw;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    row-gap: 1.5rem;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    align-items: center;
    justify-content: flex-start;
}