.client-logout{
    color: black;
    font-size: 1.6rem;
    font-weight: 600;
   
}
.client-logout:hover{
    background-color: grey;
    border-radius: 8px;
}
.Client-Profile{
    color:black;
    display:flex;
    flex-direction: row;
    column-gap:0.5rem;
    height:4rem;
    padding:0rem;
    background-color: transparent;
    align-items: center;
    border: none;
    position:relative;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
}
.Client-Profile img{
    height:2.5rem;
    width:2.5rem;
    border-radius: 50%;
}
.Client-Name{
    width:6rem;
    font-weight:420;
    font-size:1.1rem;
    padding-top:0.8rem;
    white-space: noWrap;
    overflow-x: scroll;

}
@media (max-width: 500px) {
    .Client-Name {
      display: none;
    }
}
.Logout-Div{
    font-size: 1.3rem;
    font-weight: 400;
    color:rgb(93, 93, 93);}
.Header-DropDown{
    display:flex;
    flex-direction: column;
    row-gap:1rem;
    padding: 0rem;
}
.Client-Name::-webkit-scrollbar{
    width:0;
}
.Client-DropDown-Main{
    display:flex;
    position:relative;
    flex-direction:row;
    column-gap:1.5rem;
    align-items: center;
}
.Client-DropDown{
    position: absolute;
    top:3.5rem;
    z-index:300;
    right:0rem;
    /* left:2rem; */
    width:10.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(28, 28, 28, 0.15) 0px 2px 8px;
    background-color: white;
    border-radius: 12px;
}
.Client-Header-Block{
    display: flex;
    position: relative;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.5rem;
}