.login-options-div{
    position: absolute;
    /* top: 8rem; */
    display: flex;
    top: 4.25rem;
    left: -55%;
    width: 8rem;
    z-index: 800;
    opacity: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

    color:black;
  /* border-radius: 12px; */
    font-size: 1.1rem;
    row-gap: 0.3rem;
    padding: 0.3rem;
    /* z-index: 500; */
}
.login-options-navlink{
    text-decoration: none;
    border: none;
    padding: 0.3rem;
   color: white;
}
.login-options-navlink:hover  {
    border: 1px ;
    border-radius: 12px;
    /* width: 4rem; */
    color: white;
    background-color: rgb(235, 152, 26);
}