.Address-Type-Box{
    display:flex;
    flex-direction:row;
    width:90%;
    justify-content: flex-start;
    column-gap: 1rem;
    align-items:center;
}
.Address-Type-Data{
    padding:0.2rem 0.5rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    font-size:1.2rem;
}
.Box-Color{
    background-color:  rgb(239, 79, 95);
}