.explore-card{
    margin:12px 0px 24px 0px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid transparent;
}
.explore-card-cover{
    height: 248px;
    width: 328px;
    border-radius: 15px;
    position: relative;

}
.exlore-card-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.deliverytime{
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0.8;
    background-color: var(--primary-bg);
    backdrop-filter: blur(4px);
    font-weight: 600;
    font-size: 12px;
    padding: 2px 5px 3px;
    border-radius: 3px;
}

.pro-off{
    position: absolute;
    background-color: var(--tag-red);
    bottom: 40px;
    left: 0px;
    color: var(--primary-bg);
    padding: 0px 6px;
    border-radius: 0px 2px 2px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 18px;
    font-weight: 600;
}
.discount{
    position: absolute;
    background-color: var(--tag-red);
    bottom: 14px;
    left: 0px;
    color: var(--primary-bg);
    padding: 0px 6px;
    border-radius: 0px 2px 2px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 18px;
    font-weight: 600;
}
.gold-off{
    position: absolute;
    background-color: var(--tag-red);
    bottom: 14px;
    left: 0px;
    color: var(--primary-bg);
    padding: 0px 6px;
    border-radius: 0px 2px 2px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 18px;
    font-weight: 600;
}

.res-row{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 6px;

}

.res-name{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 600;
    color: var(--heading-text);
}
.res-rating{
  padding: 0px 8px;
  font-size: 13px;
  font-weight: 600;
  color: var(--primary-bg);
  background-color: var(--tag-green);
  height: 24px;
  border-radius: 6px;
}
.res-rating i{
    font-size: 10px;
    margin-left: 2px;
}
.res-cuisine{
    max-width: 56%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.res-cuisine-tag{
    margin-right: 4px;
    color: var(--inactive-text);
}
.res-price{
    font-size: 14px;
    color: var(--inactive-text);
}
.explore-bottom{
    display: flex;
    align-items: center;
    max-width: 100%;
}
.res-bottom-text{
    font-size: 12px;
    color: var(--inactive-text);
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 8px;
}
.card-separator{
 height: 1px;
 margin: 10px 0px 5px;
 background-color: var(--border-white);
}

.explore-card:hover{
    background-color: var(--primary-bg);
    border: 1px solid var(--border-white);
}

.max-width{
    max-width:1100px;
    margin: 0px auto ;
    box-sizing: border-box;
}

.absolute-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection-title{
    font-size: 30px;
    color:var(--heading-text);
    margin-bottom: 32px;
    font-weight: 600;
}
.slick-next:before, .slick-prev:before{
    color: var(--Zomato-gray);
}
.cur-po{
    cursor: pointer;
}