.Hotel-Data-Div{
   
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    margin: 0rem auto;
}
.Hotel-Data-Image{
    margin: 0rem 0rem 2rem 0rem;
    width: 100%;
    height: 40vh;
}
.Hotel-Data-Image img{
    background-size: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Hotel-Data-div{
    position:sticky;
    display: flex;
    width: 100%;
    top: 0rem;
    z-index: 10;
    background-color: white ;
    margin-bottom: 5px;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    row-gap: 0.4rem;
    color: grey;
}
.Hotel-Data-Name{
    color: black;
    font: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
    word-spacing: 0.5rem;
}
.Hotel-Data-Category{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: rgb(93, 92, 92);
    font-size: 1.2rem;
    justify-content: flex-start;
    column-gap: 0.3rem;
}
.Info-Separation-Line{
    width: 100%;
    height: 0%;
    border:1.5px solid rgb(174, 173, 173);
    /* margin-bottom: 3px; */
}
.Hotel-Rating-Display{
    font-size: 1.3rem;
    /* width: 10%; */
    display: flex;
    padding: 0rem 0.7rem;
    border-radius: 6px;
    color: white;
    column-gap: 0.6rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.Hotel-Rating-Div{
    display: flex;
    padding: 0rem 0.7rem;
    border-radius: 6px;
    color: white;
    background-color: green;
    column-gap: 0.4rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.Number-Of-Rating{
    color: black;
    font-size: 0.9rem;
    font-weight: 500;
    word-spacing: 0.1rem;
}
.Rating-Type{
    
    border-bottom: 1px dashed #333;}