.main-box {
    /* color: green; */
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width:100%;
    align-items: center;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
    background-color: rgb(242 242 239);
    min-height: 100px;
    /* width: 80%; */
     
    margin: 10px 0px;
    border-radius: 10px;
  }
  
  .head-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    /* padding: 0px 20px; */
  }
  
  .left {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
  }
  .image{
    margin-top: 10px;
   }
  .image > img {
    height: 8vh;
    width: 8vh;
    object-fit: cover;
    border-radius: 50%;
    /* padding: 10px 10px; */
    margin-right: 10px;
  }
  .name {
    /* margin-left: 5%; */
    font-size: 15px;
    font-weight: bold;
    color: #727270;
  }
  
  .right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
  }
  
  .rate {
    font-size: 15px;
    font-weight: bold;
  }
  
  .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .rating > p {
    margin-right: 15px;
    font-size: 15px;
  }
  

  
  .description_box {
    width: 90%;
    height: 10vh;
    min-height: 40px;
    border-radius: 10px;
    overflow: auto; 
    border: 1px solid gray;
    padding: 10px; 
    box-sizing: border-box; 
  }
  

  .stars {
    display: flex;
    font-size: 20px; 
  }
  
  .star {
    margin-right: 4px; 
    color: lightgray;
  }
  
  .star.full {
    color: #727270;
  }
  
  .star.half {
    color: #727270;
    position: relative;
  }
  
  .star.half::after {
    content: '★';
    position: absolute;
    left: 0;
    top: 0;
    color: gold;
    overflow: hidden;
    width: 50%; 
    white-space: nowrap;
  }
  
  .star.empty {
    color: lightgray; 
  }
  

  .noreview{
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 30px;
    font-weight: bolder;
  }

  .myreview{
    position: relative;
    margin-top:2rem;
    left: auto;
    font-size: 20px;
    font-weight: bolder;
  }