.address-main {
    position: relative;
    width:95%;
}

.Make_Default_Address{
    border-radius:50%;
    border:1px solid black;
    background:white;
    position:absolute;
    right:0.8rem;
    top:0.8rem;
    width:1rem;
    height:1rem;
}
.address-main h2{
    margin: 0px 0px 1rem 0px;
}
.Address-box {
    border: 1px solid rgb(232, 213, 213);
    /* padding: 20px; */
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    border-radius: 5px;
    width:30.5%;
    min-width:12rem;
    height:12rem;
    position:relative;
    background-color: white;
    box-sizing: border-box; 
}
.Add-Address-Box{
    margin:auto;
    display:flex;
    color:black;
    width:100%;
    height:100%;
    background-color: white;
    font-weight: 400;
    font-size:1rem;
    align-items: center;
    flex-direction:column;
    justify-content:center;
}
.address-container {
    /* margin-right: 0; */
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap:1rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.Address-Place {
    padding: 5px;
    font-size: 1.3rem;
    color: black;
    font-weight: 500;
}

.full-Address {
    padding: 5px;
    font-size: 1.1rem;
}

.Edit-Delete {
    display: flex;
    align-items: center;
}

.edit {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color:transparent;
    color:rgb(90, 89, 89);
    border: none;
}
.edit-div{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
    padding: 0.5rem;
    text-align: center;
    background-color:transparent;
    color:rgb(77, 89, 102);
    border: none;
}
.Address-Symbol{
    padding-top:0.1rem;
}
