.tab-options{
    box-shadow: var(--border-white) 0px -0.1px 0px inset;
}
.options_wrapper{
    display: flex;
}
.tab-item{
    margin-right: 24px;
    padding: 12px 12px 20px 12px;
}
.tab-name{
    font-size: 20px;
    font-weight: 550;
    margin-left: 10px;
    color:var(--inactive-text)
}
.tab-image-container{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--inactive-color);
}
.tab-image{
    height: 30px;
    width: 30px;
}
.active-tab{
    border-bottom: 2px solid var(--zomato-red);
}
.active-tab .tab-name{
    color: var(--zomato-red);
}

.max-width{
    max-width:1100px;
    margin: 0px auto ;
    box-sizing: border-box;
}

.absolute-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection-title{
    font-size: 30px;
    color:var(--heading-text);
    margin-bottom: 32px;
    font-weight: 600;
}
.slick-next:before, .slick-prev:before{
    color: var(--Zomato-gray);
}
.cur-po{
    cursor: pointer;
}