.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.grids{
  height: 100vh;
            margin: 0;
  width:100vw;
            background-color: #ffffff;
            background-image: 
                linear-gradient(to right, #ccc 1px, transparent 1px),
                linear-gradient(to bottom, #ccc 1px, transparent 1px);
            background-size: 18px 18px; /* Adjust the size of the grid cells */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y:scroll;
  height:100vh;
  width:100vw;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html
{
  /* background-color: #282c34; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  color: white; */
  overflow-y:scroll;
  height:100vh;
  width:100vw;
  background-color: rgb(253, 253, 253);
}
html::-webkit-scrollbar{
  width:0;
}