.Nav-header{
    position: relative;
    top: 0;
    left: 0;
    width: 88%;
    height: 5rem;
    background-color: #fcfcfc;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;
    padding: 0 0 0 12.5%;
    box-sizing: border-box;
    overflow: visible;
    box-shadow: rgb(232, 232, 232) 0px -0.5px 0px inset;
    z-index: 10;
}
@media (max-width: 1055px) {
  .Nav-header {
    padding:0 2%;
    width:100%;
  }
}
.Mealify
{
    color: black;
  font-size: 2rem;
  font-weight: 600;
}