.location-input{
    position: relative;
    z-index: 100;
    background-color: rgb(141, 141, 141);
    font-size: 1rem;
    color: black;
    width:20rem;
    max-width: 90%;
    padding: 0.4rem;
    border: 1px solid rgb(57, 57, 57);
    /* border-radius: 12px; */
}
.Location-Div{
max-width: 100%;
}
@media only screen and (max-width: 665px){
    .Location-Div{
        width: 100%;
    }
.location-input {
    width: 100%;
}}
/* .autocomplete-dropdown-container{
    position: relative;
    z-index: 100;
    background-color: rgb(141, 141, 141);
    font-size: 1rem;
    color: black;
    width:14rem;
    min-height: 0rem;
    max-width: 90%;
    padding: 0.4rem;
    border: 1px solid rgb(57, 57, 57);
    border-radius: 12px;
} */
.DropDown-Location{
    position: relative;
    z-index: 100;
    background-color: rgb(141, 141, 141);
    font-size: 1rem;
    color: black;
    width:20rem;
    min-height: 0rem;
    min-width: 0rem;
    max-width: 90%;
    max-height: 10rem;
    overflow: scroll;
    scroll-margin: 0rem;
    overflow-x: hidden;
    /* padding: 0.4rem; */
    /* border: 1px solid rgb(57, 57, 57); */
    border-radius: 12px;
}