.Layout-Div {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Header-Div{
    width:100%;
}
.Body-Container {
  position:sticky;
  display: flex;
  width:80vw;
  flex-direction: row;
  background-color: white;
  align-items: flex-start;
  justify-content: flex-start;
}
.Main-Body-Container{
    width: calc(100vw - 18rem);
    overflow-y: scroll;
    max-height: 100vh;
    background-color: rgb(255, 255, 255);
}
.Main-Body-Container::-webkit-scrollbar{
  width:0;
}
/* @media only screen and (max-width: 500px) {
    .Side-Bar-Container{
        display: none};
        .Main-Body-Container{
            width:100vw;
        }
    
} */
