.Layout-Div {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Header-Div {
  width: 100%;
}
.Body-Container {
  position: relative;
  display: flex;
  width: 80vw;
  flex-direction: row;
  /* background-color: white; */
  align-items: flex-start;
  justify-content: flex-start;
}
.Main-Body-Container {
  width: calc(100vw - 35%);
  overflow-y: scroll;
  padding-left:1rem;
  margin-top:2rem;
  background-color: rgb(253, 253, 253);
}
.Main-Body-Container::-webkit-scrollbar {
  width: 0;
}
.Side-Bar-Container{
position:sticky;
width:40%;
top:-1.8rem;
}
@media (max-width: 1055px) {
  .Side-Bar-Container {
    display: none;
  }
  .Main-Body-Container {
    width: 100vw;
    padding-left:0.2rem;
  }
  .Body-Container {
    width: 90vw;
  }
  .Common-Body-Container{
    width:100vw;
  }
}
@media (max-width: 759px) {

  .Body-Container {
    width: 95vw;
  }
  .Common-Body-Container{
    width:90vw;
  }
}
.Common-Body-Container{
  width:80vw;
}
.Common-Main-Body-Container{
  width:100%;
}